name: Overlay V1 Core Test Python

on:
  push:
    branches: [ main, dev ]
  pull_request_target:
    branches: [ main, dev ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Get base branch name
        shell: bash
        run: echo "${{ github.base_ref }}"

      - name: Get source branch name
        shell: bash
        run: echo "${{ github.head_ref }}"

      - name: If base branch is main and source is NOT dev, fail action
        shell: bash
        if: ${{ github.base_ref == 'main' && github.head_ref != 'dev' }}
        run: exit 1

      - name: Set env MAX_EXAMPLES to 50 if base branch is main and source is dev
        shell: bash
        if: ${{ github.base_ref == 'main' && github.head_ref == 'dev' }}
        run: echo "MAX_EXAMPLES=50" >> "$GITHUB_ENV"

      - name: Set env MAX_EXAMPLES to 3 if base branch is NOT main
        shell: bash
        if: github.base_ref != 'main'
        run: echo "MAX_EXAMPLES=3" >> "$GITHUB_ENV"

      - name: Create env file
        run: |
          touch .env
          echo WEB3_INFURA_PROJECT_ID=${{ secrets.WEB3_INFURA_PROJECT_ID }} >> .env
          echo ETHERSCAN_TOKEN=${{ secrets.ETHERSCAN_TOKEN }} >> .env
          echo MAX_EXAMPLES=${{env.MAX_EXAMPLES}} >> .env
          cat .env

      - name: Cache Compiler Installations
        uses: actions/cache@v2
        with:
          path: |
            ~/.solcx
            ~/.vvm
          key: compiler-cache

      - name: Setup Node.js
        uses: actions/setup-node@v1

      - name: Install Ganache
        run: npm install -g ganache-cli@6.12.1

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Requirements
        run: pip install -r requirements.txt

      - name: Compile Code
        run: brownie compile --size

      - name: Run Tests
        run: brownie test -vv -s --gas --coverage
        
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: reports/coverage.json
